*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
}

.container{
    
    height: 100px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:#FF2400;
}
.logo{
    width: 60px;
    height: 60px;
    margin-top: 1rem ;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px ;
    position: relative;
   
   
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #faebf0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/* .a{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;

} */

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.main{
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
}
.img{
    margin-top: 15px;
    margin-left: 10px;
}
.abt{
    display: block;
    width: 500px;
    padding-top: 15px;
    
}
.abt h3{
    border-bottom: 2px solid rgb(249, 237, 237);
    width: 80px;
    color: #faf4f4;
}
.abt p{
    margin-top: 20px;
    text-indent: 33px;
    line-height: 22px;
    width: 100%;
    color:#faf4f4;
}

#list{
    border: 2px solid rgb(237, 233, 242);
    border-radius: 10px;
    width: 200px;
    background-color: #FF2400;
    padding: 20px;
    color: #ffffff;
    margin: 30px;
    text-align: center;
    padding-top: 10px;
}
#list li{
    padding-top:10px;
    list-style:none;
}
.card{
    border: 1px solid black;
    height: 230px;
    width: 200px;
    display: inline-block;
   
    margin: 20px;

    border-radius: 5px;
   box-shadow: 0px 4px 8px black;
   transition: 1s;
  

}
.a{
   height: 20rem;
   width: 60%;
   margin-left: 8rem;
   display: grid;
   grid-template-columns: auto auto auto;
   background-color: #FF2400;
   border-radius: 10px;
   padding: 10px;
   display: inline-grid;
}
.stada{
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #FF2400;
    height: 60px;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    
}
.staff{
    display: flex;
    flex-direction: row;
    margin-left: 30rem;
    font-size: 20px;

}
.staff,img{
    height: 240px;
    width: 220px;
    border-radius: 10px;
}
.st1{
    height: 300px;
    width: 220px;
    color: #ffffff;
    background-color:#FF2400;
    border: 1px solid rgb(238, 224, 224);
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
}
.second{
    margin-left: 15rem;
}